<!-- 
<app-header></app-header>
<app-form-component></app-form-component> 
<app-calculator></app-calculator>
<h1>Two way binding</h1>
<input type="text" [(ngModel)]= "name" placeholder="Please enter" />
<h1>{{name}}</h1>


 <h1>{{title}}</h1>

<button (click) = "GetData()">

  Click me
</button>
<h6 class="mt-2">Custome PIpes</h6>
<h1>{{20 | usdToInr : 90.50}}</h1>

<input type="text" #box (keyup) = "GetBoxData(box.value)" placeholder="Please enter" />
<mat-slide-toggle>Toggle me!</mat-slide-toggle> 
<app-template-driven-form></app-template-driven-form>
<app-reactive-form></app-reactive-form> -->
<div id="MainDiv">
<h1>Started Routing</h1>
<!-- <a routerLink="">Home</a> <br>
<a routerLink="header">Header</a><br>
<a routerLink="calculator">Calculator</a> <br>
<a routerLink="reactiveForm">ReactiveForm</a> <br>
<a routerLink="template">TemplateDrivenForm</a> <br>
<a routerLink="about">About</a> <br>
<a routerLink="getDataByApi">getDataByApi</a> <br>
<a routerLink="getDataByOwnApi">getDataByOwnApi</a> <br> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="" class="nav-link active" aria-current="page" >Home</a>
        <a  routerLink="header" class="nav-link" >Header</a>
        <a  routerLink="calculator" class="nav-link">Calculator</a>
        <a  routerLink="reactiveForm" class="nav-link" >ReactiveForm</a>
        <a  routerLink="template" class="nav-link">TemplateDrivenForm</a>
        <a routerLink="about" class="nav-link" >About</a>
        <a routerLink="getDataByApi" class="nav-link">getDataByApi</a>
        <a routerLink="getDataByOwnApi" class="nav-link">getDataByOwnApi</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ToDoApp
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="toDoApp/GetAllTask" >GetAllTask</a></li>
            <li><a class="dropdown-item" routerLink="toDoApp/GetAllTask" >AddTask</a></li>
           
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lazy Loading
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="admin/list" >list</a></li>
            <li><a class="dropdown-item" routerLink="admin/login" >login </a></li>
           
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<ul class="Footer">
  <h3>Footer</h3>
  <li *ngFor="let user of users">
    {{user.name}} : {{user.email}}
  </li>
</ul>

</div>



